@import "global";

.main_slider_block {
  height: 580px;
  overflow: hidden;
  z-index: 5;

  .features {
    height: 95px;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.81);

    .feature {
      float: left;
      margin-right: 95px;
      text-transform: uppercase;
      font-family: 'fira_sansmedium';
      color: #1b1e26;
      font-size: 18px;
      text-align: left;
      margin-top: 27px;
      letter-spacing: 0.05em;

      &:last-child {
        margin-right: 0;
      }

      b {
        font-weight: normal;
        font-size: 30px;
        display: block;
        line-height: 20px;
      }
    }
  }

  .slides_wrapper {
    position: absolute;
    width: 14000px;
    height: 14000px;
    bottom: 40px;
    left: 50%;
    margin-left: -7000px;
    overflow: hidden;
    .border-radius(0, 0, 14000px, 14000px);

    .slides {
      position: absolute;
      bottom: 0px;
      height: 540px;
      width: 100%;
      text-align: center;
    }
  }

  .slide {
    position: absolute;
    height: 540px;
    width: 100%;
    &.hide {
      display: none;
    }
  }

  .slides_content {
    width: 1020px;
    height: 580px;
    margin: auto;
    position: relative;

    .slide {
      height: 580px;
      z-index: 10;
    }

    .dop_pic {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 15;
    }

    .prev {
      display: block;
      position: absolute;
      left: -109px;
      top: 278px;
      width: 72px;
      height: 72px;
      background: url(../img/arrows.png) no-repeat 0 -72px;
    }

    .next {
      display: block;
      position: absolute;
      right: -109px;
      top: 278px;
      width: 72px;
      height: 72px;
      background: url(../img/arrows.png) no-repeat 0 0;
    }
  }

}

.item_slider_block {
  margin-top:45px;
  padding-bottom: 80px;

  &:after{
    display: block;
    content: "";
    position: absolute;
    width:1400px;
    height:42px;
    background: url(../img/bot_ellips.png) no-repeat;
    bottom:0;
    left:50%;
    margin-left:-700px;
  }

  .show_all_wrap{
    margin-top:-35px;
    text-align: center;

    a{
      position: relative;
      z-index: 10;
      display: inline-block;
      color:#6b7181;
      font-size:18px;
      border-bottom:dashed 1px #6b7181;
      text-decoration: none;
      line-height: 18px;

      &:after{
        display: block;
        content: "";
        position: absolute;
        width:5px;
        height:3px;
        background: url(../img/ico_corner.png) no-repeat;
        right: -10px;
        top: 8px;
      }

    }
  }

  .f_title {
    font-family: 'fira_sanslight';
    color: #000;
    font-size: 48px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;

    &.best span {
      &:before {
        display: block;
        content: "";
        position: absolute;
        left: -37px;
        top: 7px;
        width: 28px;
        height: 24px;
        background: url(../img/ico_best.png) no-repeat;
      }
    }
    &.new span {
      &:before {
        display: block;
        content: "";
        position: absolute;
        left: -37px;
        top: 7px;
        width: 28px;
        height: 28px;
        background: url(../img/ico_fav.png) no-repeat;
      }
    }
    &.special span {
      &:before {
        display: block;
        content: "";
        position: absolute;
        left: -44px;
        top: 7px;
        width: 33px;
        height: 32px;
        background: url(../img/ico_special.png) no-repeat;
      }
    }

    &.best span {
      &:before {
        display: block;
        content: "";
        position: absolute;
        left: -37px;
        top: 7px;
        width: 28px;
        height: 24px;
        background: url(../img/ico_best.png) no-repeat;
      }
    }

    span {
      display: inline-block;
      position: relative;
      line-height: 48px;
    }
  }

  .products_slider {
    position: relative;

    .prev {
      display: block;
      position: absolute;
      left: -149px;
      top: 92px;
      width: 156px;
      height: 156px;
      background: url(../img/arrows2.png) no-repeat 0 -156px;
      z-index:20;
    }

    .next {
      display: block;
      position: absolute;
      right: -149px;
      top: 92px;
      width: 156px;
      height: 156px;
      background: url(../img/arrows2.png) no-repeat 0 0;
      z-index:20;
    }

    .in_wrapper {

    }

    .slide {
      width: 255px;
      float: left;

      &.muted {
        .fimg{
          overflow: visible;
        }

        .product{
          -webkit-filter: blur(15px);
          -moz-filter: blur(20px);
          -o-filter: blur(20px);
          -ms-filter: blur(20px);
          filter: blur(20px);
          transform: translateZ(0);

          &:hover{
            a{
              cursor:default;
            }
            .add_bask {
              display: none;
            }
          }
        }
        img {
          width:60%;
          height:100%;
          -webkit-filter: blur(20px);
          -moz-filter: blur(20px);
          -o-filter: blur(20px);
          -ms-filter: blur(20px);
          filter: blur(20px);
        }
      }

      .product {
        margin: auto;
        margin-bottom:40px;
        &:hover{
          margin-bottom:2px;
          z-index: 15;
        }
      }
    }
  }
}

.product {
  width: 230px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
  position: relative;

  &:hover {
    .border-radius(3px, 3px, 3px, 3px);
    .box-shadow(0, 0, 10px, rgba(27, 30, 38, 0.2));
    margin-bottom: 2px;
    .add_bask {
      display: block;
    }
  }

  .fimg {
    height: 232px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 16px;

    img{
      max-width:100%;
    }
  }

  a {
    box-sizing: border-box;
    display: block;
    height: 64px;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .add_bask {
    display: none;
    width: 230px;
    text-indent: 25px;
    background: url(../img/ico_bask.png) no-repeat 56px 12px #ff0048;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.05em;
    font-family: 'fira_sansregular';
    height: 42px;
    line-height: 42px;
    text-transform: uppercase;
    margin: 16px -20px -20px -20px;
    .border-radius(0, 0, 3px, 3px);
  }

  .vol {
    color: #798692;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .price {
    color: #000;
    font-size: 36px;
    line-height: 36px;
    display: inline-block;
    position: relative;
    padding-right: 30px;

    &.discounted{
      color:#ff0048;
      &:after{
        background: url(../img/ico_rub_big_disc.png) no-repeat;
      }
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 2px;
      right: 0;
      width: 19px;
      height: 25px;
      background: url(../img/ico_rub_big.png) no-repeat;

    }
  }

  .discount_price{
    color:#6b7181;
    font-size:14px;
    text-align: center;

    span{
      display: inline-block;
      position: relative;
      padding-right:10px;

      &:after {
        display: block;
        content: "";
        position: absolute;
        top: 5px;
        right: 0;
        width: 7px;
        height: 10px;
        background: url(../img/ico_rub_gray.png) no-repeat;

      }
    }
  }
}